/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/* button,
[type='button'],
[type='reset'],
[type='submit'] {
  background: unset;
  background: unset;
  border: none;
  outline: none;
} */
