/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

button {
  font-family: 'Public Sans', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

:root {
  --primary-gradient: linear-gradient(180deg, #4e55f1 0%, #9d3cff 100%);
}

.bg-gradient {
  background: linear-gradient(180deg, #4e55f1 0%, #9d3cff 100%);
}